<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <div class="col-md-12">
        <h1>Mission to Mars</h1>
        <h5>Get the latest news!</h5>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Update</a></p>
      </div>
    </div>
    <div class="row"></div>
      <div class="col-md-12">
        <h2>Latest Mars News:</h2>
        <h3> {{ mars_db[0].latest_article_title }} </h3>
        <h5> {{ mars_db[1].latest_article_text }} </h5>
      </div>
      <div class="col-md-3">
 
      </div>
    </div>
  </div>
</body>

</html>
